<!DOCTYPE html>
<html lang="es" xmlns:th:"http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{css/heroic-features.css}" rel="stylesheet">
  <link rel="preload" href="@{css/estilos1.css}" as="style"><!--con esto carga mas rapido la hoja de estilos-->
    <link rel="stylesheet" th:href="@{/css/estilos1.css}">

    
</head>
<body>
    <header>
        <div class="contHeader">
            <div class="imgHeader">
                <a href="index.html">
                    <img class="contNav_contImgen-imagen" src="/images/logo2.png" alt="ElectroTics">
                </a>
            </div>  
            <h1>ElectroTics</h1>
        </div>
    </header>
        <main class="log">
            <form class="contacto" th:action="@{/administrador/home}">
                <fieldset>
                    <legend class="login">Login</legend>
                    <div>
                        
                        <div class="elementoInput">
                            <label for="email">Correo Electrónico: </label>
                            <input class="input" type="email" name="email" id="email" placeholder="forexemple@email.com">
                        </div>
                        
                        <div class="elementoInput">
                            <label for="pass">Contraseña: </label>
                            <input class="input" id="pass" type="password" placeholder="Contraseña">
                        </div>

                        <div class="elementoInput">
                            <input class="botonForm" type="submit"  value="Login"/>
                        </div>

                        <div class="elementoInput">
                            <p>Todavía no tienes una cuenta, <a th:href="@{/usuario/registro}">Registrate</a> </p>
                        </div>
                    </div><!--Contenedor para todos los campos-->
                        
                </fieldset>
            </form>
    </main>
   
   <!-- Footer -->
    <div th:include="usuario/template_usuario.html::footer">
    </div>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

   
</body>
</html>